
header .wrapper {
  display: flex;
  justify-content: space-between;
  
  .logo {
    font-family: $logoFont;
    font-size: 2rem;
    color: $accentColor;
    padding-top: 20px;
  }
  
  .date {
    font-family: $baseFont;
    font-size: 3rem;
  }

}