@font-face {
  font-family: "Pacifico";
  src: url(./fonts/Pacifico/Pacifico-Regular.ttf);
}

@font-face {
  font-family: "Montserrat";
  src: url(./fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf), url(./fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
  font-weight: normal;
}